#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {

    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            display-name = "Base";
// ----------------------------------------------
// |     1     |
// |     2     |
// |     3     |
// |     4     |
            bindings = <
                &kp 1
                &kp 2
                &kp 3
                &kp 4
            >;
        };
    };


};